.app-container {
  display: flex;
}

.contant {
  width: 100%;
}

.sidebar {
  min-height: 600px;
}

.post-card {
  margin: 30px 50px;
}

.tags {
  margin: 4px;
}

.reaction {
  margin: 5px 0px;
}

.react {
  color: #2196F3;
}

.create_post {
  margin-top: 40px;
  margin-left: 40px;
  width: 40%;
}

.welcome-massage {
  margin: 70px;
}